body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-image: url('/Users/choijinseo/mega/mega_power/choijinseo/HTML5+CSS/Homepage2/img/IMSI_Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.logo {
    margin-top: 50px;
}

.imsi-sub-frame {
    position: relative;
    width: 850px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.copyright {
    margin-top: 20px;
}

@import url(http://fonts.googleapis.com/earlyacccess/notosanskr.css);

a {
    text-decoration: none;
}

.imsi-title {
    color:#003c8a;
    font-weight: 700;
    font-size: 3.2em;
    letter-spacing: -0.1em;
}

.imsi-category {
    margin-top: 10px;
    text-align: left;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: -0.1em;
    margin: 0;
}

.imsi-text {
    margin-top: 0;
    text-align: left;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: -0.1em;
}

.point {
    font-weight: 900;
    color: #003c8a;
}

p:not(.imsi-text):not(.imsi-category) {
    margin: 0;
    line-height: 60px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.imsi-left {
    margin-top: 30px;
    position: absolute;
    left: 0;
    width: 425px;
    height: 540px;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
}
.imsi-left-content-frame {
    margin: 0 auto;
    width: 350px;
}

.imsi-right {
    margin-top: 30px;
    position: absolute;
    right: 0;
    width: 425px;
    height: 540px;
}

.imsi-button {
    margin: 0 auto;
    color: white;
    border: 1px solid #003c8a;
    background-color: #003c8a;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 390px;
    transition: 0.2s;
    border-radius: 10px;
    margin-bottom: 5px;
}

.imsi-button:hover {
    border: 1px solid #0a1b7a;
    background-color: #0a1b7a;
}