body {
    border: 5px solid rgb(56, 156, 94);
    margin: 50px 20px 30px 40px; 
    padding: 100px;
    /* 위 오른쪽 아래 왼쪽*/ 
}

.main-frame {
    border: 5px solid rgb(20, 20, 20);
    width: 150px;
    height: 25px;
}