.btn {
    border: 1px solid #000;
    text-align: center;
    width: 200px;
    padding: 50px;
    transition: 0.3s;
    /*바뀔때 시간을 설정해서 딜레이로 바뀌게하는 속성*/
}

.btn:hover {
    color: white;
    background-color: #000;
}