.frame {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid #000;
}

.red {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background-color: red;
}

.green {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: green;
}

.blue {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: blue;
}