@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

a {
    text-decoration: none;
    /*링크를 걸었을때 밑줄이 나오지 않게하는 속성*/
}
.imsi-title {
    color: #003c8a;
    font-weight: 700;
    font-size:3.2em;
    letter-spacing: -0.1em;
}

.imsi-category {
    text-align: left;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: -0.1em;
    margin: 0;
}

.imsi-text {
    margin-top: 0;
    text-align: left;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: -0.1em;
}

.point {
    color: #003c8a;
    font-weight: 900;
}
p:not(.imsi-text):not(.imsi-category) {
    margin: 0;
    line-height: 60px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
}

.imsi-title {
    line-height: 10px;
}
body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-image: url('../1/DAEJIN_Background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.logo {
    margin-top: 50px;
}

.imsi-sub-frame {
    position: relative;
    width: 850px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin: 0 auto;
    /*오른쪽왼쪽 둘다auto한것과 같음*/
    margin-top:20px;
}

.imsi-left {
    margin-top: 30px;
    position: absolute;
    left: 0;
    width: 425px;
    height: 540px;
    border-right: 1px solid rgba(255, 255, 255, 0.7)
}

.imsi-right {
    margin-top: 30px;
    position: absolute;
    right: 0;
    width: 425px;
    height: 540px;
}

.imsi-left-content-frame {
    margin: 0 auto;
    width: 350px;
}

.copyright {
    margin-top: 20px;
}

.imsi-btn {
    margin: 0 auto;
    color: #fff;
    border: 1px solid #003c8a;
    background-color: #003c8a;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 390px;
    transition: 0.2s;
    border-radius: 10px;
    margin-bottom: 5px;
}

.imsi-btn:hover {
    border: 1px solid #0a1b7a;
    background-color: #0a1b7a;
}