.btn {
    border: 1px solid black;
    text-align: center;
    width : 200px;
    padding: 50px;
    transition: 0.3s; /*딜레이 주는 속성*/
}

 .btn:hover { /*색 바꾸기 */
    color: white;
    background-color: black;
}