body {
    border : 5px solid rgb(255, 235, 60);
    /*
    margin : 20px; 전체
    padding : 50px;
    */
    margin : 10px 20px 30px 40px; /* 위 오 아래 왼 */
    padding : 100px
}

.main-frame {
    border: 3px solid rgb(26, 125, 255);
}