.App {
  text-align: center;
  background-image: url(../src/img/깜냥이_바탕화면.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

.pink {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: large;
}

.click:hover {
  color: white;
  background-color: black;
}


.list {
  padding-left: 20px;
  text-align: left;
  color: white;
  padding: 100px;
}


